.container {
    margin: 0;
    padding-left: 40%;
    height: 100%;
    background: linear-gradient(#FFFFFF, #e5e5e5);
    
    .brand {
        margin-top: 20px;
        padding: 20px;
        
        .line {
            background-color: #343a40;
            height: 4px;
            width: 100px;
        }
    
        .title {
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            font-size: 78px;
            color: #394046;
        }
    
        .subtitle {
            font-family: 'Roboto Slab', sans-serif;
            font-size: 28px;
            color: #d0a233; 

            &.divider {
                color: #394046;
                padding: 0 5px;
            }
        }

        .saotm {
            font-family: 'Roboto Slab', sans-serif;
            font-size: 18px;
            color: #d0a233; 
        }

        .saotm-date {
            font-family: 'Roboto Slab', sans-serif;
            font-size: 15px;
            color: #394046;
        }
    }
}

.static-photo {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    background-image: url(../assets/adam.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 40%;
    transform: scaleX(-1);
    filter: grayscale(100%);
    transition: all .5s ease-in-out;
    padding: 0;
    margin: 0;
    color: black;
    box-shadow: 3px 0 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    &:hover {
        filter: grayscale(0%);
        transition: all .5s ease-in-out
    }
}

.links {
    margin-top: 20px;
    display: flex;    

    .button-link {
        height: 60px;
        width: 200px;
        border-top: 3px solid #394046;
        border-bottom: 3px solid #394046;
        position: relative;
        transition: all .5s ease-in-out;
        font-family: 'Poppins', sans-serif;
        margin-right: 10px;
        cursor: pointer;

        span:nth-child(1) {
            position: absolute;
            height: 60px;
            width: 3px;
            background-color: #394046;
            transition: all .3s ease-in-out;
            z-index: 0;
        }

        span:nth-child(2) {
            position: absolute;
            height: 60px;
            margin-top: 18px;
            margin-left: 35%;
            transition: all .3s ease-in-out;
            z-index: 1;
        }

        span:nth-child(3) {
            position: absolute;
            height: 60px;
            width: 3px;
            background-color: #394046;
            right: 0;
            transition: all .3s ease-in-out;
            z-index: 0;
        }

        &:nth-child(1):hover {
            span:nth-child(1) {
                width: 100%;
                transition: all .3s ease-in-out;
            }

            span:nth-child(2) {
                color: #d0a233;
                transition: all .3s ease-in-out;
            }
        }

        &:nth-child(2):hover {
            span:nth-child(1) {
                width: 100px;
                transition: all .3s ease-in-out;
            }

            span:nth-child(2) {
                color: white;
                transition: all .3s ease-in-out;
            }

            span:nth-child(3) {
                width: 100px;
                transition: all .3s ease-in-out;
            }
        }

        &:nth-child(3):hover {
            background-color: #d0a233;
            transition: all .3s ease-in-out;

            span:nth-child(2) {
                color: #394046;
                font-weight: bold;
                transition: all .3s ease-in-out;
            }
        }
    }
}

.projects {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;

    .project {
        float: left;
        position: relative;
        width: 46%;
        padding-bottom: 40%;
        margin: 1.9%;
        box-shadow: 0 30px 40px -15px rgba(0,0,0,0.35);
        cursor: pointer;
        transition: all .2s ease-in-out;

        .project-image {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
            animation: zoomOut .2s ease-in-out;
            z-index: 0;
        }
            

        &:hover {
            transform: scale(1.1);
            transition: all .2s ease-in-out;

            span:nth-child(3) {
                display: block;
                animation: fadeIn .2s ease-in-out;
            }
        }
    }
}

footer {
    height: 75px;
    background-color: #394046;
    text-align: center;
    padding: 40px;

    span {
        text-align: center;
        font-family: 'Roboto Slab', sans-serif;
        font-size: 1.1em;
        color: #ddd;
    }

    .social {
        display: flex;
        justify-content: center;
        font-size: 28px;
        color: #ddd;

        .social-item {
            margin: 15px;
            height: 55px;
            width: 55px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .3s ease-in-out;
            color: #ddd;
            
            &:hover {
                background-color: darken(#394046, 5);
                transition: all .3s ease-in-out;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        padding-left: 0px;
    }
    .static-photo {
        display: none;
    }
}