<div class="static-photo"></div>
<div class="container">
  <div class="brand">
    <span class="title">Adam DeCosta</span>
    <div>
        <span class="subtitle">Software Engineer</span>
        <span class="subtitle divider">/</span>
        <span class="subtitle">Photographer</span>
        <span class="subtitle divider">/</span>
        <span class="subtitle">Lover of beans</span>
    </div>
    <span class="saotm">Student Ambassador of the Month: </span><span class="saotm-date">December 2017</span>

    <br>

    <div class="links">
        <div class="button-link">
          <span></span>
          <span>Portfolio</span>
          <span></span>
        </div>

        <div class="button-link">
          <span></span>
          <span>Photos</span>
          <span></span>
        </div>

        <div class="button-link">
            <span></span>
            <span>Connect</span>
            <span></span>
          </div>
    </div>
    
    <div class="projects">
      <div class="project">
        <div class="project-image" style="background-image: url('https://source.unsplash.com/collection/190727/1600x900')"></div>
      </div>
      <div class="project">
        <div class="project-image" style="background-image: url('https://source.unsplash.com/daily')"></div>
      </div>
      <div class="project">
        <div class="project-image" style="background-image: url('https://source.unsplash.com/user/erondu')"></div>
      </div>
      <div class="project">
        <div class="project-image" style="background-image: url('https://source.unsplash.com/random')"></div>
      </div>
    </div>

  </div>
  <footer>
      <span>&copy;Copyright Adam DeCosta 2018</span>
      <div class="social">
        <a href="https://www.facebook.com/adam.decosta.54?ref=br_rs" target="_blank" class="social-item">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/adam_decosta?lang=en" target="_blank" class="social-item">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/in/adam-decosta-213553141/" target="_blank" class="social-item">
            <i class="fab fa-linkedin"></i>
        </a>
      </div>
  </footer>
</div>
