<div class="static-photo"></div>
<div class="container">
  <div class="brand">
    <span class="title">Adam DeCosta</span>
    <div>
        <span class="subtitle">Software Engineer</span>
        <span class="subtitle divider">/</span>
        <span class="subtitle">Photographer</span>
        <span class="subtitle divider">/</span>
        <span class="subtitle">Lover of beans</span>
    </div>
    <span class="saotm">Student Ambassador of the Month: </span><span class="saotm-date">December 2017</span>

    <br>

    <div class="links">
        <div class="button-link">
          <span></span>
          <span>Portfolio</span>
          <span></span>
        </div>

        <div class="button-link">
          <span></span>
          <span>Photos</span>
          <span></span>
        </div>

        <div class="button-link">
            <span></span>
            <span>Connect</span>
            <span></span>
          </div>
    </div>
    
  </div>
</div>
